.special-wrapper#contact-form
    .social-icon
        img(src="img/emoji/star.png",  width="323" alt="emoji")
    //- section.contact-form.contact-form-success
    section.contact-form
        .success-icon
            +thanks
        .contact-form-title
            .title-2.register-title
                h2 Регистрация<br> на бесплатный вебинар
            .title-2.success-title
                h2 Вы добавлены в список участников вебинара
            .event
                .preview-content__data
                    +calendar
                    p
                        span.visible-laptop 10 ноября 2020
                        span.hide-laptop 10.11.2020
                    p 19:30 &mdash; 21:00 мск
            .contact-subtitle
                .subtitle-text
                    p И получите в подарок два полезных чек-листа,<br> специально разработанных сексологом и психологом
                .subtitle-text.subtitle-text__success
                    p Через пару минут на ваш email придет подтверждение о регистрации и ссылки на два полезных чек-листа
                    p Если письма нет, проверьте папку «Спам»
                .subtitle-img
                    img(src="img/checklists/3.png" width='260').img-mob
                    img(src="img/checklists/4.png" width='260').img-desk
        .contact-form-inner
            .success-message
                .info-text--success
                    p Чтобы не пропустить вебинар,<br class='br-mobile'> подключите мессенджер<br class='br-mobile'> куда мы скинем ссылку<br class='br-mobile'> на трансляцию
                .social-button--block
                    a(href="tg://resolve?domain=sexprosvetschoolBot&start=ml3" target="blank").social-button
                        span
                            i.fab.fa-telegram-plane
                        span Telegram
                    a(href="https://vk.com/app6379730_-194449090#l=3&ml=3&auto=1" target="blank").social-button.social-button--vk
                        span
                            i.fab.fa-vk
                        span ВКонтакте

            //form.feedback-form
            //    .form-item
            //        label Ваше имя
            //        .form-input
            //            input(type="text" name="")
            //    .form-item
            //        label Эл.почта
            //        .form-input
            //            input.error(type="email" name="")
            //            p Отправим подтверждение о регистрации на эту почту
            //            p.error Пожалуйста, перепроверьте введенный адрес эл. почты
            //    .form-item
            //        label Телефон
            //        .form-input.form-input--short
            //            input(type="text" class="phone" name="userPhone" )
            //            p За час до начала вебинара предупредим вас по СМС
            //
            //    .contact-form-footer
            //        .form-footer
            //            .form-btn
            //                button.big-button(type="submit" ) Отправить
            //            .agree-text
            //                p Нажимая на кнопку вы принимаете #[a(href="#!") пользовательское соглашение]
            //        .disclaimer
            //            +lock
            //            .disclaimer-text
            //                p Не шлем спам по СМС или почтой. Надежно храним персональные данные пользователей<br> и не передаем их третьим лицам






