.contact-form
    .form-body
        .contact-form-title
            .title-2
                h2 Зарегистрируйтесь<br> на бесплатный вебинар
            .event
                .event-data
                    +calendar
                    p 10 ноября 2020
                .event-time
                    p 19:30 &mdash; 21:00 мск
            .contact-subtitle
                .contact-subtitle--text
                    p И получите в подарок два полезных чек-листа,<br> специально разработанных сексологом и психологом
                .contact-subtitle--img
                    img(src="img/checklists/3.png" width='260')
                    //img(src="img/checklists/2.png" width='163')
        .contact-form-item
            .form-item
                label Ваше имя
                input(type="text" name="")
            .form-item
                label Эл.почта
                input.error(type="email" name="")
                .info-text
                    p Отправим подтверждение о регистрации на эту почту
                .error-text
                    p Пожалуйста, перепроверьте введенный адрес эл. почты
            .form-item
                label Телефон
                textarea(type="text" name="message")
                .info-text
                    p За час до начала вебинара предупредим вас по СМС
        .contact-form-footer

