.select-block
	.select-block__input
		.select-block__icon
			span
		input(type="text"  data-role="close" name="select-value" placeholder="Выберите вариант" readonly)
	.select-block__options
		ul
			li(value="") 1
			li(value="") 2
			li(value="") 3
			li(value="") 4