section.faq
    .container
        .faq-content
            .double-block__row
                .white-block
                    .title-block
                        .title-2
                            h2 Вебинар подойдет родителям
                    .content-block
                        .img-block
                            img(src='img/images/1.png',  width="360" alt="pic")
                        .block-content
                            +badge('7 &mdash; 11 лет')
                            .text-block
                                h4 Если ваши дети уже&nbsp;начинают задавать неудобные вопросы «про&nbsp;это»
                                p.text-3 Дети в младших классах должны знать правило нижнего белья и&nbsp;сами отвечать за гигиену половых органов. Отличать интимное от публичного, допустимые прикосновения от недопустимых. Понимать откуда берутся дети и какое отношение к&nbsp;этому имеют родители
                .pink-block
                    +badge('11&mdash;14 лет')
                    img(src='img/images/2.png',  width="620" alt="pic")
                    .text-block
                        h4 Если вас беспокоит безопасность и&nbsp;готовность ребенка к&nbsp;взрослой жизни
                        p.text-3 Дети в средней школе должны называть половые органы своими именами, знать о&nbsp;поллюциях и менструациях.<br> Быть готовыми к разговору о&nbsp;границах тела или порнографии. Помнить об угрозе со стороны педофилов и&nbsp;знать, что делать в&nbsp;случае опасности
            .single-block
                .text-block
                    img


