header.header
	.header-wrapper
		+logo
		.header-menu
			nav
				a(href="#!") О проекте
				a(href="#!") Курсы
				a(href="#!").link-button Другие вебинары
	.question-item
		p.text-1 Мам, а как я появился на свет? 