.preview
	.container.container--dark
		.preview-content
			.preview-emoji
				//- img(src="img/emoji/4.png",  width="300" alt="emoji")
			.preview-content__top
				+badge('Бесплатный вебинар')
				.preview-content__data
					p
						span.visible-laptop 10 ноября 2020
						span.hide-laptop 10.11.2020
					p 19:30 &mdash; 21:00 мск
			.preview-content__title
				.title-1
					h1 Как говорить с&nbsp;ребёнком на&nbsp;непростые темы полового созревания
				.preview-subtitle.text-1 Онлайн-ликбез для родителей о&nbsp;том, как правильно,<br class='visible-laptop'> честно и&nbsp;не&nbsp;стесняясь отвечать на&nbsp;вопросы детей «про это»
				.preview-content__btn
					a(href="#!").big-button Участвовать
			.preview-content__question
			.preview-content__question