section.result
	.result-img
		+mark
	.container
		.title-2
			h2 После вебинара вы:
		.result-list
			ul
				li.green-text.decor-text Поймете почему половое воспитание важно, как для ваших детей,<br class="visible-laptop"> так и для вас лично;
				li.decor-text Узнаете, как и когда правильно начинать половое воспитание ребёнка; 
				li.decor-text.decor-label
					+badge('игра-проверка')
					p Поймете, готовы ли вы на разговор с&nbsp;вашими&nbsp;детьми «про это» прямо сейчас;  
				li.decor-text Получите рекомендации<br class="visible-laptop"> от опытного психолога по правильному подходу к общению «про это»
			p.text-2 Это бесплатно. Главное — успеть задать все интересующие вас вопросы в чат
			