section.webinar-theme
	.container
		.webinar-theme__content
			.webinar-theme__head
				.title-2
					h2 Спикер расскажет
				.preview-content__data
					p
						span.visible-laptop 10 ноября 2020
						span.hide-laptop 10.11.2020
					p 19:30 &mdash; 21:00 мск
			.webinar-theme__text
				.info-row
					.info-row__column.info-row__column--bg
						.title-3
							h3 Как правильно подходить к&nbsp;общению «про это»
						p.text-2 И почему в каждой семье важно обеспечивать здоровую атмосферу взаимного уважения и любви, а ребенку — знать о границах личного пространства и существовании интимных зон
					.info-row__column
						.title-3
							h3 Что такое «половое воспитание» и&nbsp;на&nbsp;что&nbsp;оно влияет
						p.text-2 Как и почему «половое воспитание» формирует правильное отношения ребенка к вопросу пола: из&nbsp;мальчика воспитывает мужчину, а девочке помогает вырасти в счастливую и успешную женщину
				.info-row
					.info-row__column.info-row__column--border.info-row__column--300
						p.text-100 93 #[sup %]
						p.text-2 женщин в России уверены, что половое воспитание помогает детям принимать своё тело и не стесняться его
					.info-row__column.info-row__column--bg.info-row__column--70
						.title-3
							h3 Почему уже сейчас важно <br> начать говорить с детьми «про это»
						p.text-2 И почему в странах, где детям в школах преподают половое воспитания, процент ранних беременностей гараздо ниже, чем в России. Как и средний возраст вступления в первые сексуальные отношения, который там на полтора–два года ниже, чем у нас
			.webinar-theme__footer
				