section.warning.warning--2
	.container
		.warning-text
			p.decor-text #[span.red-text Если вы не уверены,] что в состоянии сохранить тайну о взаимоотношениях полов до 16-летия своего ребенка, постарайтесь, чтобы он узнал о них до восьми
			p.text-2 #[strong Жан-Жак Руссо.] Философ, писатель и мыслитель эпохи Просвещения