.button{
  display: inline-block;
  cursor: pointer;
}

.big-button{
  display: inline-block;
  cursor: pointer;
  color: #fff;
  line-height: 100px;
  background: @red;
  border-radius: 10px;
  height: 100px;
  padding-left: 80px;
  padding-right: 80px;
  .tr;
  font-size: 24px;
  font-family: @rr;
  @media(max-width:767px){
    padding-left: 38px;
    padding-right: 38px;
  }
  &:hover{
    background: @orange;
  }
}